{% extends 'base.html' %}
{% load static %}

{% block title %}About {% endblock %}
{% block body %}


<div class="container-fluid mt-5 p-5 text-justify mx-auto  ">

    <div class="text-center mb-3">
        <h1>WELCOME TO MY WEBSITE</h1>
    </div>

   
        
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fugiat quidem eaque dignissimos facere quod nesciunt ad atque blanditiis, possimus nulla rerum. Mollitia, eligendi ratione molestias ab hic vitae aspernatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta aspernatur cupiditate atque rerum consequuntur aliquam optio. Voluptate dolorum facilis quidem eveniet? Ipsam labore officiis, ratione nobis consequatur voluptatibus omnis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus eveniet tenetur beatae eum, commodi maiores soluta eligendi voluptas odio eos vitae blanditiis sunt doloremque. Sequi ab quo unde aperiam magnam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dicta repellat repudiandae, molestias illo doloremque dignissimos quod quo officia necessitatibus perspiciatis sit, adipisci accusamus excepturi similique! Quia explicabo eveniet tempore?
        </p>
</div>

{% endblock %}